*{
    font-family: Helvetica;
    font-size: 16px;
}

#background{
    background-image: url("Bilder/darkWood.jpg");
    background-repeat: repeat repeat;
    display: flex;
    justify-content: center;
}

#window{
    width: 90%;
    display: flex;
    flex-direction: column;
}

#banner{
    background-color: olive;
    width: 100%;
    height: 100px;
}

#menu{
    background-color: cornsilk;
    width: 100%;
    height: 80px;
    display: flex;
}

#contentPane{
    background-color: #f5f5dc;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
}

#footnotes{
    background-color: olive;
    width: 100%;
    height: 100px;
}

.menuItem{
    font-size: 24px;
    font-weight: bold;
    width: 25%;
    height: 80px;
    text-align: center;
    line-height: 60px;
    border: 1px solid #000000;
}


.article{
    margin-top: 20px;
    margin-bottom:20px;
    width:90%;
    height: 400px;
}

#home{
    background-color: olivedrab;
}

#products{
    background-color: olivedrab;
    
}

#about{
    background-color: olivedrab;
}

#contact{
    background-color: olivedrab;
    color: darkblue;
    border: 1px solid darkblue;
}

a {
    text-decoration: none;
    color: black;
    font-size: 24px
}

a:hover{
    border: 1px solid #000000;
    color: darkblue;
}












